<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="full">
              <div class="topbar-left">
                <ul class="list-inline">
                  <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                  <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 right_section_header_top">
            <div class="float-left">
              <div class="social_icon">
                <ul class="list-inline">
                  <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                  <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                  <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                  <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                  <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!-- logo start -->
            <div class="logo"> <a routerLink="/"><img src="../../../assets/logos/itLogo.png" alt="logo" /></a> </div>
            <!-- logo end -->
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- menu start -->
            <div class="menu_side">
              <div id="navbar_menu">
                <ul class="first-ul">
                  <li> <a routerLink="/">Home</a></li>
                  <li><a routerLink="/products">Products</a></li>
                  <li *ngIf="isLoggedIn"> <a routerLink="/create-product">Add Product</a></li>
                  <li> <a href="/cart">Cart</a></li>
                </ul>
              </div>
              <div class="search_icon">
                <ul>
                  <li><a routerLink="/search" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div id="navbar_menu">
                <!-- If is User is LoggedIn -->
                <ul class="first-ul" *ngIf="!isLoggedIn">
                  <li><a href="#" style="color: black;">|</a></li>
                  <li><a routerLink="/login">Login</a></li>
                  <li><a routerLink="/register">Register</a></li>
                </ul>

                <!-- If is User NOT LoggedIn -->
                <ul class="first-ul" *ngIf="isLoggedIn">
                  <li><a href="#" style="color: black;">|</a></li>
                  <li><a routerLink="/">Welcome, {{username}}</a></li>
                  <li (click)="logout()"><a id="logOut">Logout</a></li>
                </ul>
              </div>
            </div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
    <!-- header bottom end -->
  </header>
