

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header/>
<!-- <app-loader/> -->
<!-- <app-home/> -->
<!-- <app-error/> -->
<!-- <app-products/> -->
<!-- <app-product-details/> -->
<!-- <app-login /> -->
<!-- <app-register /> -->
<!-- <app-create-product/> -->
<!-- <app-edit-product/> -->
<!-- <app-cart/> -->
<!-- <app-search /> -->
<router-outlet/>
<app-footer/>
