<!-- Modal -->
  <div class="modal fade" id="search_bar" role="dialog" *ngIf="!isModelHidden">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="close()"><i class="fa fa-close"></i></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
              <div class="navbar-search">
                <form action="#" method="get" id="search-global-form" class="search-global">
                  <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" #searchText class="search-global__input">
                  <button class="search-global__btn" (click)="loadSearchedItems(searchText.value)"><i class="fa fa-search"></i></button>
                  <div class="search-global__note">Begin typing your search above and press return to search.</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- End Model search bar -->

<app-products [products]="products" [isExternalRendered]="true" [errorMsg]="errorMessage" *ngIf="products"/>