<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">Products</h1>
                <ol class="breadcrumb">
                  <li><a routerLink="/">Home</a></li>
                  <li class="active">Products</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end inner page banner -->
  <!-- section -->
  <div class="section padding_layout_1 product_list_main">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all" *ngFor="let product of products">
              <div class="product_list">
                <div class="product_img"> <img class="img-responsive" src="{{product.imageUrl}}" alt=""> </div>
                <div class="product_detail_btm">
                  <div class="center">
                    <h4><a [routerLink]="product._id">{{product.productName}}</a></h4>
                  </div>
                  <div class="product_price">
                    <p><span class="new_price">${{product.price}}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all errorMsg" *ngIf="errorMsg">
                {{errorMsg}}          
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="side_bar">         
            <div class="side_bar_blog">
              <h4>TYPE OF PRODUCTS</h4>
              <div class="categary">
                <ul (click)="toggleSelection($event)">
                  <li  id="allProducts" ><i class="fa fa-angle-right"></i> All products</li>
                  <li  id="computers" ><i class="fa fa-angle-right"></i> Laptops and Computers</li>
                  <li  id="peripherals"><i class="fa fa-angle-right"></i> Components and peripherals</li>
                  <li  id="monitors" ><i class="fa fa-angle-right"></i> Monitors</li>
                  <li  id="servers"><i class="fa fa-angle-right"></i> Servers and storages</li>
                  <li  id="printers"><i class="fa fa-angle-right"></i> Printers</li>
                  <li  id="routers"><i class="fa fa-angle-right"></i> Routers</li>                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end section -->

  <!-- <router-outlet/> -->

