<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">Add Product</h1>
                <ol class="breadcrumb">
                  <li><a routerLink="/">Home</a></li>
                  <li class="active">Add Product</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end inner page banner -->

   <!-- end inner page banner -->
   <div class="section padding_layout_1 checkout_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full">
            <div id="login">
              <div class="login-form-checkout">
                <form>
                    <div class="form-group">
                        <label for="productName">Product name <span class="required">*</span></label>
                        <input type="text" class="form-control" id="productName" placeholder="Enter Product name">
                    </div>
                    <div class="form-group">
                        <label for="price">Price <span class="required">*</span></label>
                        <input type="text" class="form-control" id="price" placeholder="Enter Price">
                    </div>
                    <div class="form-group">
                       <label for="imageUrl">Image Url <span class="required">*</span></label>
                       <input type="text" class="form-control" id="imageUrl" placeholder="Enter Image Url">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity <span class="required">*</span></label>
                        <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity">
                    </div>
                    <div class="form-group">
                        <label for="productType">Product Type <span class="required">*</span></label>
                        <select class="form-select form-control" id="productType"  aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description <span class="required">*</span></label>
                        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                     </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 btn-login">
                        <button type="submit" class="bt_main">Add</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
