<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="title-holder">
              <div class="title-holder-cell text-left">
                <h1 class="page-title">Shopping Cart</h1>
                <ol class="breadcrumb">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/products">Products</a></li>
                  <li class="active">Shopping Cart</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end inner page banner -->

  <div class="section padding_layout_1 Shopping_cart_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="product-table">
            <div class="text-success">{{succsessMessage}}</div>
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Total</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody *ngFor="let product of cart">
                <tr>
                  <td class="col-sm-8 col-md-6"><div class="media"> 
                    <a class="thumbnail pull-left" href="#"> 
                        <img class="media-object" src="{{product.products.imageUrl}}" alt="#">
                    </a>
                      <div class="media-body">
                        <h4 class="media-heading"><a routerLink="">{{product.products.productName}}</a></h4>
                        <!-- <span>Status: </span><span class="text-success">In Stock</span> -->
                      </div>
                    </div></td>
                  <td class="col-sm-1 col-md-1" style="text-align: center"><form #countProductForm="ngForm" action=""><input class="form-control top-margin"
                     ngModel 
                     [value]="product.countProduct" 
                     name="productCount"  
                     #inputProductCount="ngModel" 
                     type="number"
                     min="0"
                     disabled
                     ></form>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center"><p class="price_table">${{product.products.price}}</p></td>
                  <td class="col-sm-1 col-md-1 text-center"><p class="price_table">${{product.total}}</p></td>
                  <td class="col-sm-1 col-md-1"><button type="button" class="bt_main" (click)="removeProductFromCart(product._id)"><i class="fa fa-trash"></i> Remove</button></td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <tbody>
                <tr class="cart-form">
                  <td class="actions">
                    <div class="coupon">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="shopping-cart-cart">
            <table>
              <tbody>
                <tr class="head-table">
                  <td><h5>Cart Totals</h5></td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td><h4>Subtotal</h4></td>
                  <td class="text-right"><h4>${{subtotal}}</h4></td>
                </tr>
                <tr>
                  <td><h5>Estimated shipping</h5></td>
                  <td class="text-right"><h4>${{estimatedShipping}}</h4></td>
                </tr>
                <tr>
                  <td><h3>Total</h3></td>
                  <td class="text-right"><h4>${{total}}</h4></td>
                </tr>
                <tr>
                  <td><a routerLink="/products" type="button" class="button">Continue Shopping</a></td>
                  <td><button class="button" (click)="checkout()" *ngIf="!isHideCheckOut">Checkout</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
