<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Register</h1>
              <ol class="breadcrumb">
                <li><a routerLink="/">Home</a></li>
                <li class="active">Register</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->

<!-- end inner page banner -->
<div class="section padding_layout_1 checkout_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="full">
          <div id="register">
            <div class="register-form-checkout">

              <!-- Error - empty requset -->
              <ng-container *ngIf="errorMsg">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <div>
                    {{errorMsg}}
                  </div>
                </div>
              </ng-container>

              <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <div class="form-group">
                  <label for="name">Name <span class="required">*</span></label>
                  <input type="text" class="form-control" id="name" 
                  placeholder="Enter Name"
                  name="name"
                  ngModel
                  #inputName="ngModel"
                  required
                  minlength="2"
                  >
                </div>

                <!-- Name Error -->
                <ng-container *ngIf="inputName.touched">
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputName.errors?.['required']">
                    <div>
                      Name is required!
                    </div>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputName.errors?.['minlength']">
                    <div>
                      Name must be at least 2 characters!
                    </div>
                  </div>       
                </ng-container>
               
                <div class="form-group">
                  <label for="email">Email <span class="required">*</span></label>
                  <input type="email" class="form-control" id="email" 
                  placeholder="Enter Email"
                  name="email"
                  ngModel
                  #inputEmail="ngModel"
                  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" 
                  required
                  >
                </div>

                <!-- Email Error -->
                <ng-container *ngIf="inputEmail.touched">
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputEmail.errors?.['required']">
                    <div>
                      Email is required!
                    </div>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputEmail.errors?.['pattern']">
                    <div>
                      Email is invalid!
                    </div>
                  </div>       
                </ng-container>

                <div class="form-group">
                  <label for="password">Password <span class="required">*</span></label>
                  <input type="password" class="form-control" id="password" 
                  placeholder="Password"
                  name="password"
                  ngModel
                  #inputPassword="ngModel" 
                  required 
                  minlength="6"
                  autocomplete="true"
                  >
                </div>

                <!-- Password Error -->
                <ng-container *ngIf="inputPassword.touched">
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputPassword.errors?.['required']">
                    <div>
                      Password is required!
                    </div>
                  </div>
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputPassword.errors?.['minlength']">
                    <div>
                      Password must be at least 6 characters!
                    </div>
                  </div>
                </ng-container>

                <div class="form-group">
                  <label for="retypePassword">Retype Password <span class="required">*</span></label>
                  <input type="password" class="form-control" id="retypePassword" 
                  placeholder="Retype Password"
                  name="retypePassword"
                  ngModel
                  #inputRetypePassword="ngModel" 
                  required
                  autocomplete="true" 
                  >
                </div>

                <!-- retypePassword Error -->
                <ng-container *ngIf="inputRetypePassword.touched">
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                    *ngIf="inputRetypePassword.errors?.['required']">
                    <div>
                      Retype Password is required!
                    </div>
                  </div>
                </ng-container>

                <div class="col-md-12 col-sm-12 col-xs-12 btn-register">
                  <button type="submit" class="bt_main">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section -->